
<div *ngFor="let flag of flags">

  <ul>
    <!-- <li> -->
      <button>
        <img src="{{flag.src}}" alt="#">
        <p>{{flag.name}}</p>
      </button>
    <!-- </li> -->
  </ul>


  <!-- <button (click)="handleTitle()" title="#">
    <img src={{flags[0].src}} alt="#">
    <p>{{flags[0].name}}</p>
  </button>

  <button title="#">
    <img src={{flags[1].src}} alt="#">
    <p>{{flags[1].name}}</p>
  </button>

  <button title="#">
    <img src={{flags[2].src}} alt="#">
    <p>{{flags[2].name}}</p>
  </button> -->

</div>
