// 
* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: orange;
}

body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 1px solid red;
  padding: 2rem;
  margin-bottom: 1rem;
}